.form{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
}

.name{
    width: 160px;
}
.number {
    width: 160px;
}

.name:hover{
    background-color: antiquewhite;
}

.number:hover {
    background-color: antiquewhite;
}

.button{
    width: 100px;
    border: none;
    cursor: pointer;
    background-color: rgb(215, 224, 233);
}